<h1>Listing Species Concepts</h1>

<table>
  <tr>
    <th>se_uid</th>
    <th>Active</th>
    <th>Status</th>
    <th>Kingdom</th>
    <th>Phylum</th>
    <th>Class</th>
    <th>Order</th>
    <th>Family</th>
    <th>Genus</th>
    <th>Epithet</th>
    <th>Author_Year</th>
    <th>Synonym_One</th>
  </tr>

<% @ses.each do |se| %>
  <tr>
    <td><%=h se.se_uid %></td>
    <td><%= image_tag "true.png", :alt => 'Active' %></td>
    <td><%=h se.se_status %></td>
    <td><%=h se.se_kingdom %></td>
    <td><%=h se.se_phylum %></td>
    <td><%=h se.se_class %></td>
    <td><%=h se.se_order %></td>
    <td><%=h se.se_family %></td>
    <td><%=h se.se_genus %></td>
    <td><%=h se.se_epithet %></td>
    <td><%=h se.se_author_year %></td>
    <td><%=h se.se_synonym_one %></td>
    <td><%= link_to 'Show', '/ses/' + se.se_uid + '.html' %></td>
  </tr>
<% end %>
</table>

<br />