<h1>Listing Species Concepts</h1>

<table>
  <tr>
    <th>se_uid</th>
    <th>se_active</th>
    <th>se_status</th>
    <th>se_kingdom</th>
    <th>se_phylum</th>
    <th>se_class</th>
    <th>se_order</th>
    <th>se_family</th>
    <th>se_genus</th>
    <th>se_epithet</th>
    <th>se_author_year</th>
    <th>se_synonym_one</th>
    <th>se_ncbi</th>
    <th>se_ubio</th>
    <th>se_itis</th>
    <th>se_gbif</th>
    <th>se_eol</th>
    <th>se_bold</th>
    <th>se_bbc</th>
    <th>se_wikipedia</th>
    <th>se_wikispecies</th>
  </tr>

<% @ses.each do |se| %>
  <tr>
    <td><%=h se.se_uid %></td>
    <td><%=h se.se_active %></td>
    <td><%=h se.se_status %></td>
    <td><%=h se.se_kingdom %></td>
    <td><%=h se.se_phylum %></td>
    <td><%=h se.se_class %></td>
    <td><%=h se.se_order %></td>
    <td><%=h se.se_family %></td>
    <td><%=h se.se_genus %></td>
    <td><%=h se.se_epithet %></td>
    <td><%=h se.se_author_year %></td>
    <td><%=h se.se_synonym_one %></td>
    <td><%=h se.se_ncbi %></td>
    <td><%=h se.se_ubio %></td>
    <td><%=h se.se_itis %></td>
    <td><%=h se.se_gbif %></td>
    <td><%=h se.se_eol %></td>
    <td><%=h se.se_bold %></td>
    <td><%=h se.se_bbc %></td>
    <td><%=h se.se_wikipedia %></td>
    <td><%=h se.se_wikispecies %></td>
    <td><%= link_to 'Show', '/ses/' + se.se_uid + '.html' %></td>
  </tr>
<% end %>
</table>

<br />