<h1><%=h @se_concept_name %> </h1>

<p><%= link_to 'View as RDF', @se.se_uid + ".rdf" %></p>

<p><%= link_to 'View in URIburner', @uriburner %> - See Primary Topic</p>

<p>
  <b>Se uid:</b>
  <%=h @se.se_uid %>
</p>

<p>
  <b>Se uuid:</b>
  <%=h @se.se_uuid %>
</p>

<p>
  <b>Se active:</b>
  <%=h @se.se_active %>
</p>

<p>
  <b>Se status:</b>
  <%=h @se.se_status %>
</p>

<p>
  <b>Se replaced by:</b>
  <%=h @se.se_replaced_by %>
</p>

<p>
  <b>Se close match:</b>
  <%=h @se.se_close_match %>
</p>

<p>
  <b>Se type objective:</b>
  <%=h @se.se_type_objective %>
</p>

<p>
  <b>Se type phylogenetic:</b>
  <%=h @se.se_type_phylogenetic %>
</p>

<p>
  <b>Se type biological:</b>
  <%=h @se.se_type_biological %>
</p>

<p>
  <b>Se phylum:</b>
  <%=h @se.se_phylum %>
</p>

<p>
  <b>Se class:</b>
  <%=h @se.se_class %>
</p>

<p>
  <b>Se order:</b>
  <%=h @se.se_order %>
</p>

<p>
  <b>Se family:</b>
  <%=h @se.se_family %>
</p>

<p>
  <b>Se genus:</b>
  <%=h @se.se_genus %>
</p>

<p>
  <b>Se epithet:</b>
  <%=h @se.se_epithet %>
</p>

<p>
  <b>Se author year:</b>
  <%=h @se.se_author_year %>
</p>

<p>
  <b>Se cname:</b>
  <%=h @se.se_cname %>
</p>

<p>
  <b>Se synonym one:</b>
  <%=h @se.se_synonym_one %>
</p>

<p>
  <b>Se synonym two:</b>
  <%=h @se.se_synonym_two %>
</p>

<p>
  <b>Se synonym three:</b>
  <%=h @se.se_synonym_three %>
</p>

<p>
  <b>Se synonym four:</b>
  <%=h @se.se_synonym_four %>
</p>

<p>
  <b>Se synonym five:</b>
  <%=h @se.se_synonym_five %>
</p>

<p>
  <b>Se basionym:</b>
  <%=h @se.se_basionym %>
</p>

<p>
  <b>Se ontology:</b>
  <%=h @se.se_ontology %>
</p>

<p>
  <b>Se division:</b>
  <%=h @se.se_division_id %>
</p>

<p>
  <b>Se ncbi:</b>
  <%=h @se.se_ncbi %>
</p>

<p>
  <b>Se ubio:</b>
  <%=h @se.se_ubio %>
</p>

<p>
  <b>Se itis:</b>
  <%=h @se.se_itis %>
</p>

<p>
  <b>Se gbif:</b>
  <%=h @se.se_gbif %>
</p>

<p>
  <b>Se eol:</b>
  <%=h @se.se_eol %>
</p>

<p>
  <b>Se bold:</b>
  <%=h @se.se_bold %>
</p>

<p>
  <b>Se col:</b>
  <%=h @se.se_col_id %>
</p>

<p>
  <b>Se col:</b>
  <%=h @se.se_col %>
</p>

<p>
  <b>Se geospecies:</b>
  <%=h @se.se_geospecies %>
</p>

<p>
  <b>Se dbpedia:</b>
  <%=h @se.se_dbpedia %>
</p>

<p>
  <b>Se freebase:</b>
  <%=h @se.se_freebase %>
</p>

<p>
  <b>Se opencyc:</b>
  <%=h @se.se_opencyc %>
</p>

<p>
  <b>Se umbel:</b>
  <%=h @se.se_umbel %>
</p>

<p>
  <b>Se lc:</b>
  <%=h @se.se_lc %>
</p>

<p>
  <b>Se bbc:</b>
  <%=h @se.se_bbc %>
</p>

<p>
  <b>Se wikipedia:</b>
  <%=h @se.se_wikipedia %>
</p>

<p>
  <b>Se wikispecies:</b>
  <%=h @se.se_wikispecies %>
</p>


